.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("/images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-card {
  max-width: 500px;
  text-align: center;
}

.item-card {
  min-width: 250px;
}